<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>HNS Talk</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="MiroTalk powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />
        <meta
            name="keywords"
            content="webrtc, miro, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />
        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>
    <body>
        <main style="height: 75vh">
            <div style="text-align: center; max-width: 800px; margin: auto; margin-top: 75px;">
                <h1>Welcome to HNS Talk, the only video chat app on Handshake!</h1>
            <p>
Our mission is to provide a seamless, reliable platform for users to connect with each other through high-quality video and audio chat.
Our user-friendly interface makes it easy to connect with anyone, anywhere, at any time.
You can easily invite friends or colleagues to join your call by sharing a link or code, and you can also use HNS Talk to join public chats and meet new people with similar interests.

At HNS Talk, we're dedicated to providing the best possible video chat experience for our users.
Whether you're using our app to catch up with friends or colleagues, collaborate on projects, or simply meet new people, we're confident you'll love our platform.

<br><br>
Handshake is a decentralized blockchain platform that allows users to <strong>OWN</strong> their domains.<br>
Additionally, because Handshake is decentralized, domains on Handshake are not controlled by any single entity, giving users more control over their data.
<br><br>
<strong>Thank you for choosing HNS Talk!</strong>





            </p>
            </div>
        </main>
        <footer class="site-footer center-content-mobile">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="footer-top space-between text-xxs">
                        <div class="brand">
                            <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                        </div>                        
                    </div>
                    <div class="footer-bottom space-between text-xxs invert-order-desktop">
                        <nav class="footer-nav">
                            <ul class="list-reset">
                                <li>
                                    <a href="/privacy">Privacy Policy</a>
                                </li>                                
                            </ul>
                        </nav>
                        <div class="footer-copyright"><a href="https://nathan.woodburn.au" target="_blank">Nathan.Woodburn/</a></div>
                    </div>
                </div>
            </div>
        </footer>

        <script defer src="../js/landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
